#map-container {
    display: flex; /* or display: grid; if using grid */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 350px; /* Full viewport height */
}

#line_chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
} 




